    .panel-group .panel {
        border-radius: 0;
        box-shadow: none;
        border-color: #EEEEEE;
    }

    .panel-default > .panel-heading {
        padding: 0;
        border-radius: 0;
        color: #212121;
        background-color: #FAFAFA;
        border-color: #EEEEEE;
    }

    .panel-title {
        font-size: 14px;
    }

    .panel-title > a {
        display: block;
        padding: 15px;
        text-decoration: none;
    }

    .more-less {
        float: right;
        color: #212121;
    }

    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border-top-color: #EEEEEE;
    }


body {
    background-color: #26a69a;
}

.demo {
    padding-top: 60px;
    padding-bottom: 60px;
}

#sectionCollapse {
	background-color: #428BCA;	
}

.topicCollapse {
	background-color: #d2d2d2;
	text-indent: 16px;
}

.problemCollapse {
	background-color: white;
	text-indent: 32px;
}

#test_accordion_title {
	background-color: #515151;
	color: white;
}

.test_accordion_body {
	background-color: #858585;
}

.floatRight {
	float: right;
}

